

* {
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}


canvas {
  display: block;
  margin: auto;
}

/* media query */
@media (orientation: portrait) {
  canvas {
    width: 100%;
    height: calc(100vw * 500 / 800);

    max-width: 800px;
    max-height: 500px;

  }
}

@media (orientation: landscape) {
  canvas {
    width: calc(100vh * 800 / 500);
    height: 100%;

    max-width: 800px;
    max-height: 500px;

  }
}
