/* 
Aufgabe 09: Canvas
Name: Laura Vogt
Matrikel: 256056
Datum: 

Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert. 
*/

/*@CHARSET "UTF-8";

@import
url('');*/

@import url('https://fonts.googleapis.com/css?family=Gugi');

* {
	margin: 0;
	padding: 0;
}

html {
	width: 50%;
	background-color: whitesmoke;
}



footer {
	font-family: 'Gugi', cursive;
	text-align: center;
	background-color: lightgrey;
	padding: 1em 0;
}

footer a:link, footer a:visited {
text-decoration: none;
	color: black;
}

footer a:hover {
	cursor: grab;
	color: blue;
}
footer a:active {
	cursor: grabbing;
}

/* Desktop Ansicht: grösser 1024px / 64em - open end */
@media screen and (min-width: 64em) {

	}