/* 
Aufgabe 2: Memory
Name: Laura Vogt
Matrikel: 254671
Datum: 11Apr18
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/

html {
}


header}
}


main{
}

div {
}


aside{
}

fieldset{
}

legend {
}

p{
}


footer{	
}





.hidden{
	}


.taken {
	}


.open {
	}